<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./01.css">
    <title>01-from金魚切版</title>
</head>
<body>
    <div class="banner">
        <div class="container">
            <div class="banner-text">
                <h1>金魚都能懂得
                    <span>這個網頁畫面怎麼切</span>
                </h1>
                <h2>圖文滿版區塊</h2>
                <p>這畫面實在常見，在各種樣版網站可說是設計常客
                    <br>
                    金魚切不出來實在說不過去阿</p>
            </div>
        </div>
    </div>
</body>
</html>